{{ header }}
<div id="information-contact" class="container">
	<ul class="breadcrumb">
		{% for breadcrumb in breadcrumbs %}
			<li>
				<a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
			</li>
		{% endfor %}
	</ul>
	<div class="row">{{ column_left }}
		{% if column_left and column_right %}
			{% set class = 'col-sm-6' %}
		{% elseif column_left or column_right %}
			{% set class = 'col-sm-9' %}
		{% else %}
			{% set class = 'col-sm-12' %}
		{% endif %}
		<div id="content" class="{{ class }}">{{ content_top }}
			<div class="heading-page">
				<h1 class="title">{{ heading_title }}</h1>
			</div>

			<div class="row">
				<div class="col-sm-4">
            <div class="contact-us-social-icons mr-tp-30">
		<a class="wa" href="https://api.whatsapp.com/send?phone=5516992747526" target="_Blank"><i class="fa fa-whatsapp" aria-hidden="true"></i> +55 (16) 9.9274-7526</a>
          <a class="fb" href="https://facebook.com/luxfire.store" target="_Blank"><i class="fab fa-facebook-f" aria-hidden="true"></i> @luxfire.store</a>
          <a class="tg" href="https://instagram.com/luxfire.store" target="_Blank"><i class="fab fa-instagram" aria-hidden="true"></i> @luxfire.store</a>
          <a class="wa" href="https://chat.whatsapp.com/FULKBdbghQJB7bXwbizNxA" target="_Blank"><i class="fa fa-whatsapp" aria-hidden="true"></i> Grupo no WhatsApp</a>
          <a class="yb" href="https://www.youtube.com/channel/UCjxVpPhXpse27bB6-P36RqQ" target="_Blank"><i class="fab fa-youtube" aria-hidden="true"></i> @M7 Fire</a>
      </div>
				</div>
				<!-- col-sm-4 -->
				<div class="col-sm-8">
					<div class="panel panel-default">
						<div class="panel-body">
							<form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-horizontal">
								<fieldset>
									<div class="form-group required">
										<label class="col-sm-12 control-label" for="input-name">{{ entry_name }}</label>
										<div class="col-sm-12">
											<input type="text" name="name" value="{{ name }}" id="input-name" class="form-control"/>
											{% if error_name %}
												<div class="text-danger">{{ error_name }}</div>
											{% endif %}
										</div>
									</div>
									<div class="form-group required">
										<label class="col-sm-12 control-label" for="input-email">{{ entry_email }}</label>
										<div class="col-sm-12">
											<input type="text" name="email" value="{{ email }}" id="input-email" class="form-control"/>
											{% if error_email %}
												<div class="text-danger">{{ error_email }}</div>
											{% endif %}
										</div>
									</div>
									<div class="form-group required">
										<label class="col-sm-12 control-label" for="input-enquiry">{{ entry_enquiry }}</label>
										<div class="col-sm-12">
											<textarea name="enquiry" rows="5" id="input-enquiry" class="form-control">{{ enquiry }}</textarea>
											{% if error_enquiry %}
												<div class="text-danger">{{ error_enquiry }}</div>
											{% endif %}
										</div>
									</div>
									{{ captcha }}
								</fieldset>
								<div class="buttons">
									<div class="pull-right">
										<input class="btn btn-primary" type="submit" value="Envie sua Mensagem"/>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<!-- row -->

			<h3>Nosso Instagram</h3>

        <!-- SnapWidget -->
<script src="https://snapwidget.com/js/snapwidget.js"></script>
<iframe src="https://snapwidget.com/embed/961472" class="snapwidget-widget" allowtransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden;  width:100%; "></iframe>


			{{ content_bottom }}</div>
		{{ column_right }}</div>
</div>
{{ footer }}
